@model IEnumerable<my_first_mvc_app.Models.ProductViewModel>

<h1>Product Summary</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Inventory Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Count</td>
                <td>@product.InventoryValue</td>
            </tr>
        }
    </tbody>
</table>
